<!doctype html>
<html lang="en">
<head>
</head>
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><img class="ima" src="../../../assets/logo.png" width="180" height="40"></a>
    <form class="form-inline">
        <a class="nav-item nav-link" href="#" style="color:#000000" class="but">Home</a>
        <a class="nav-item nav-link" href="#" style="color:#000000" class="but">About</a>
        <a class="nav-item nav-link" href="#" style="color:#000000" class="but">Services</a>
        <a class="nav-item nav-link" href="#" style="color:#000000" class="but">Portafolio</a>
        <a class="nav-item nav-link" href="#" style="color:#000000" class="but">Pages</a>
        <a class="nav-item nav-link" href="#" style="color:#000000" class="but">Contact</a>
      <button class="btn btn-danger" type="submit">Get free consult</button>
      <a class="nav-item nav-link" class="esp"></a>
    </form>
  </nav>

<body background="../../../assets/fondo.jpg" style="background-repeat: no-repeat; background-attachment: fixed;">

    <div class="layer">
        <div class="layer1">
            <p style="color:rgb(255, 0, 0)">GET EVERY SINGLE SOLUTIONS</p>
            <br>
            <h1>I'm Desinger <br>
            Haris F. Watson</h1>
            <FONT SIZE=2>
                jhorem rfpsum golar sidt amet, consectuar adispicting dit, elsiduim temper <br>
                incidunt utgshd, labore bedt dolore magna aliqua. quis ipsum suspendisse <br>
                uitrices gavidad
            </FONT>
            
            
        </div>
    </div>

    
    <div class="cont">
        <div class="layfi"> 
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h2>Desinging With Passion While <br>
                        Exploring the world</h2>
                  </div>
                  <div class="col-sm">
                    <h2> Any Type OF Query <br>
                        & Discussion</h2>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    
    
</body>
</html>



